@{
    Layout = null;
    ViewBag.Title = "EstudioFacil";
}
@using TPFinal.Models
@model Usuario

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <LINK rel=StyleSheet HREF="~/Content/IndexStyle.css" TYPE="text/css" MEDIA=screen>
</head>
<body>
    <div class="contenedor">

        <header class="nav navbar-fixed-top">
            <h1 class="title">EstudioFacil</h1>
            <a href="">
                <h1 class="title">@Html.ActionLink("Registrarse", "Registrarse", "Home")</h1>
            </a>
        </header>
        <div class="login">
            <article class="fondo">
                <div>
                    @using (Html.BeginForm("Login_OK", "Home", FormMethod.Post))
                    {
                        <p>Mail:</p>@Html.TextBoxFor(model => model.Mail1, new { @class = "inp" })<br />
                        <p>Contrasena:</p>@Html.TextBoxFor(model => model.Contrasena1, new { @class = "inp" })<br />
                        <input class="boton" type="submit" name="inicio" value="Iniciar Sesion">
   
                    }
                </div>
            </article>
        </div>

    </div>
</body>